doctype
html
	head
		title Simple Sidebar - Start Bootstrap Template
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")

		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/simple-sidebar.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="dist/sweetalert.css")

		script(type='text/javascript', src='../public/myfunctions.js')
		script(type='text/javascript' src='/javascripts/critery-functions.js')
		script(type='text/javascript', src="dist/sweetalert.min.js")
	body
		
		block content