doctype
html
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, shrink-to-fit=no, initial-scale=1')
		meta(name='description' content='')
		meta(name='author' content='')

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/css-login/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/css-login/simple-sidebar.css')
		link(rel='stylesheet', href='/stylesheets/css-login/bootstrap.min.css')

		link(rel='stylesheet', href='/stylesheets/css-login/style_login.css')

		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/simple-sidebar.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="dist/sweetalert.css")

		// jQuery
		script(type='text/javascript', src="/javascripts/js/jquery.js")

		// Bootstrap Core JavaScript
		//script(type='text/javascript', src="/javascripts/js/bootstrap.min.js")

		// Bootstrap Core JavaScript
		script(type='text/javascript', src="/javascripts/js/bootstrap.js")

		//My functions
		script(type='text/javascript' src='/javascripts/myfunctions.js')
		
		script(type='text/javascript' src='/javascripts/myfunctions_grid.js')
		//jquery-ajax
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

		link(rel='stylesheet', href='/stylesheets/css-website/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/css-website/mystyle.css')

		//Sweetalert
		link(rel="stylesheet" type="text/css" href="/dist/sweetalert.css")
		script(type='text/javascript', src="/dist/sweetalert.min.js")
	
	body
		block content