
h1.tittle-app{
  //background-color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #E0FFFF;
}

h2.tittle-app{
  //background-color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 28px;
  color:  #F5F5F5;
}